PORT=5000
MONGO_URI=mongodb+srv://amankumar3432k_db_user:Aman62478140@cluster0.8edue7r.mongodb.net/Leadflow_CRM?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_here_change_in_production
JWT_EXPIRE=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
